
@{

    ViewData["Title"] = "Books";
}
@model List<Books>
@{
    var searchValue = Context.Request.Query["searchString"];
}
<form asp-controller="Book" asp-action="Books" method="get">
    <p>
        Search: <input type="text" name="searchString" value="@searchValue" />
        <input type="submit" value="Search" />
    </p>
</form>


<div class="text-center">
    <h1 class="display-4">Books</h1>
    <br />
    <hr />



    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    AuthorName
                </th>
                <th>
                    Publication
                </th>
                <th>
                    Quantity
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Book in Model)
                {
                    <tr>
                        <td>
                            @Book.Id
                        </td>
                        <td>
                            @Book.Name
                        </td>
                        <td>
                            @Book.AuthorName
                        </td>
                        <td>
                            @Book.Publication
                        </td>
                        <td>
                            @Book.Quantity
                        </td>

                        <td>
                            <a asp-controller="Book" asp-action="CreateOrEdit" asp-route-id="@Book.Id">Edit</a>
                            <a asp-controller="Book" asp-action="DeleteBook" asp-route-id="@Book.Id">Delete</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>

    <a asp-controller="Book" asp-action="CreateOrEdit" class="btn btn-primary">Add New Books</a>

</div>